body{
  font-family: 'Roboto', sans-serif;
  color: #5b6d91;
}

/************* UTILITIES **************/
.pad-top-bot{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-top{
  padding-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-10{
  margin-bottom: 10px;
}

.btn{
  color: #2485fd;
  border-color: #2485fd;
  font-weight: 500;
}

.btn-default:hover{
  color: #fff;
  border-color: #2485fd;
  background: #2485fd;
  font-weight: 500;
}

.lightblue-color{
  color: #2485fd;
}

.back-gray{
  background: #f3f5f9;
}

ul{
  padding-left: 0;
}

.bottom-p i{
  margin-left: 10px;
}

.mini-pic p{
  font-size: 14px;
  color: #031b54;
  font-weight: 500;
  margin-bottom: 5px;
}

.blue-point{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2485fd;
}

.blue-point:hover{
  background: #2485fd;
  cursor: pointer;
}

/********** TIPOGRAPHY ***********/
h1{
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}

h2{
  font-size: 26px;
  font-weight: 700;
  color: #031b54;
  margin-top: 10px;
}

p{
  color: #5b6d91;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #2485fd;
}
a:hover{
  text-decoration: none;
  color: #2485fd;
}

li{
  list-style: none;
}

small{
  font-size: 14px;
}

/**********HEADER**********/
.navbar .container{
  position: relative;
}

.navbar {
  background: #fff;
  border: 0;
  color: #031b4f;
  margin-bottom: 16px;
}

.navbar-default .navbar-nav > li > a{
  color: #031b54;
  font-weight: 500;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #2485fd;
}

.navbar-header a img{
  width: 180px;
  padding-top: 15px;
  padding-left: 10px;
}

.navbar-default .navbar-toggle{
  position: absolute;
  right: 0px;
  margin-top: 15px;
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #2485fd;
}

.navbar-left{
  margin-left: 50px;
}

.navbar-collapse .navbar-right button{
  margin-top: 9px;
  margin-left: 10px;
}

/********** HERO ***********/
.hero{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

.hero .hero-text p{
  color: #b2bfd8;
}

.form{
  padding: 10px;
  background: #fff;
  border-radius: 7px;
}

.account{
  background: #6ba6ff;
  color: #fff;
  border: #6ba6ff;
}

.account:hover{
  background: #006aff;
  color: #ffF;
  border: #006aff;
}

.google{
  position: relative;
  color: #787878;
  background: #fff;
  border: #fff;
  box-shadow: 1px 1px 1px 1px #888888;
}

.google img{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
}

.hero small{
  font-weight: 700;
  font-size: 12px;
  color: #031b54;
}

.condition a{
font-size: 12px;
font-weight: 500;
color: #2485fd;
text-decoration: underline;
}

/************LOGOS************/
.loghi{
  height: 80px;
}

.logos .top-p .text-uppercase{
 font-size: 13px;
 font-weight: 500;
 margin-bottom: 25px;
 color: #5b6d91;
}

.logos .bottom-p a p{
  margin-top: 15px;
  color: #2485fd;
  display: inline-block;
}

.loghi img{
  height: 100%;
  width: 100%;
  max-width: 135px;
  vertical-align: middle;
}

#hashi{
  padding-top: 5px;
}

#splunk-logo{
  padding-top: 25px;
  padding-bottom: 18px;
}

/**********DEPLOY-SCALE**********/
.borde-list{
  border-left: 1px solid #5b6d91;
  padding: 10px 0 10px 5px;
}

.deploy ul li{
  font-size: 16px;
}

/***********FOR DEVELOPERS***********/
.img-arrow-point img{
  width: 100%;
}

.arrow .fa-angle-left,
.arrow .fa-angle-right{
  font-size: 40px;
}

.arrow i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.arrow i:hover{
  cursor: pointer;
}

.img-arrow-point p{
  color: #031b54;
  font-weight: 500;
}

/**************BUSINESS***************/
.bottom-p{
  display: block;
  margin-top: 10px;
}

/**********MEDIAQUERY *************/
@media screen and (min-width: 768px) and (max-width: 991px){
  .navbar-toggle{
    display: block;
  }

  .navbar-collapse{
    display: none;
  }
}

/*************TABLRT**************/
@media screen and (min-width: 768px){
  .hero-text{
    padding-right: 50px;
  }

  .loghi{
    height: 70px;
  }

  .arrow{
    height: 223px;
    position: relative;
  }
}

/***********DESKTOP***********/
@media screen and (min-width: 991px){
  h1{
    font-size: 50px;
  }

  p{
    font-size: 16px;
  }

  .navbar{
    margin-bottom: 0;
  }

  .pad-top-bot{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pad-top{
    padding-top: 60px;
  }

  .loghi{
    height: 90px;
  }

  .loghi .text-uppercase{
   font-size: 14px;
  }

  .loghi img{
    max-width: 150px;
  }

  .arrow{
    height: 295px;
    position: relative;
  }
}

/*********** > 1200PX ***********/
@media screen and (min-width: 1200px){
  .arrow{
    height: 360.2px;
    position: relative;
  }
}
